* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ol,
ul,
li {
    list-style-type: none;
}

table {
    border-spacing: 0px;
}

button,
input {
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
    font-family: inherit;
}

input {
    &::selection {
        background-color: #fff;
        color: #1f1f1f;
    }
}

button {
    cursor: pointer;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

}

@font-face {
    font-family: Blaka;
    src: url(../fonts/Blaka/Blaka-Regular.ttf);
}

@font-face {
    font-family: Gupter;
    src: url(../fonts/Gupter/Gupter-Regular.ttf);
}

#pyterm-list {
    header {
        width: 100%;
        height: 16rem;

        h1 {
            width: 100%;
            height: 16rem;
            line-height: 16rem;
            text-align: center;
            font-size: 6.4rem;
            font-family: Blaka;
            font-weight: 300;
            color: #1f1f1f;

            small {
                color: royalblue;
            }
        }
    }

    .container {
        max-width: 70rem;
        height: calc(100vh - 16rem);
        background-color: #fff;
        margin: 0 auto;
        font-family: Gupter;

        .search-and-mode {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: calc(100% - 10rem);
                border: .1rem solid #1f1f1f;

                input {
                    background: #1f1f1f;
                    width: calc(100% - 4rem);
                    transition: all .2s ease-in;
                    height: 1rem;
                    font-size: .8rem;
                    color: #1f1f1f;
                    cursor: pointer;

                    &:focus {
                        height: 3rem;
                        width: calc(100% - 3rem);
                        padding: 0 1rem;
                        color: #fff;
                        font-size: 1.6rem;
                        letter-spacing: .1rem;
                    }
                }

                label {
                    width: 3rem;
                    height: 3rem;
                    font-size: 1.6rem;
                    text-align: center;
                    line-height: 3rem;
                    cursor: pointer;
                }
            }

            button {
                width: 10rem;
                height: 4rem;
                background: royalblue;
                font-size: 1.6rem;
                color: #fff;
                font-weight: 600;
                border-radius: 1.5rem .4rem;
            }
        }

        .list {
            margin: 5rem 0;
            width: 100%;

            .item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 2rem;
                gap: 1rem;
                cursor: pointer;

                input {
                    display: none;

                    &:checked+.select-item {
                        span {
                            background-color: cadetblue;
                        }
                    }

                    &:checked+.select-item+.item-body {
                        text-decoration: line-through;
                    }
                }

                .select-item {
                    width: 3rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        display: flex;
                        width: 1.4rem;
                        height: 1.4rem;
                        border-radius: 2rem;
                        background: royalblue;
                        justify-content: center;
                        align-items: center;

                        i {
                            width: .6rem;
                            height: .6rem;
                            border-radius: 50%;
                            background-color: #fff;
                        }
                    }
                }

                .item-body {
                    font-size: 1.6rem;
                }
            }
        }

        .add-btn {



            button {
                width: 4rem;
                height: 4rem;
                background: royalblue;
                font-size: 1.6rem;
                color: #fff;
                font-weight: 600;
                border-radius: 50%;
                position: fixed;
                bottom: 2rem;
                right: 2rem;
                transform: rotateX(45deg);
                box-shadow: 0 .4rem .1rem .3rem #1f1f1f;
                border-bottom: .4rem solid rgb(37, 63, 141);
                border-left: .1rem solid rgb(37, 63, 141);
                border-right: .1rem solid rgb(37, 63, 141);
                transition: all .2s ease-out;

                &:focus {
                    bottom: 1.8rem;
                    box-shadow: 0 .1rem .1rem .3rem #1f1f1f;
                    border-bottom: .1rem solid rgb(37, 63, 141);
                }
            }


        }
    }
}

@media only screen and (max-width: 500px) {
    #pyterm-list {
        header {
            width: 100%;
            height: 10rem;

            h1 {
                height: 10rem;
                line-height: 10rem;
                font-size: 2.4rem;
            }
        }
    }
}